# this is an example .env file
# it can be used to quickly start the app using the docker-compose.yml

# internal use only, for communication between app and db
MONGO_USER=admin
MONGO_PASSWORD=adminpassword

# proxysg-category-server
# how to authenticate to the server
APP_AUTH__ORDER=local
APP_AUTH__LOCAL__USER=admin
APP_AUTH__LOCAL__PASSWORD=nw_admin_2025
# JWT used to cache Authentication
APP_JWT__LIFETIME=21600
APP_JWT__SECRET=mytopsecretsecret
# bc proxy to contact for category look ups
APP_BC__INTERVAL=0 3 * * *
APP_BC__INTERVAL_QUICK=0 * * * *
APP_BC__HOST=172.16.17.96
APP_BC__USER=admin
APP_BC__PASSWORD=proxyadminpassword
APP_BC__VERIFY_SSL=false
