version: "3.8"

# this app expects various Environment variables to be present
# you can check the .env.example for some details regarding this

services:
  proxysg-category-server:
    # use the preexisting image
    image: ghcr.io/timeforaninja/proxysg-categorie-server:main
    # __OR__ build new from local Dockerfile
    #build:
    #  context: .
    #  dockerfile: Dockerfile

    container_name: proxysg-category-server
    ports:
      # Exposes the server which listens on port 8080 on port 3000
      - "3000:8080"
    volumes:
      # Mounts the folder with persistent files
      - ./data/:/backend/data/
    # Ensures the container automatically restarts on failure
    restart: unless-stopped
    env_file:
      # Pass the .env file since most vars are category-server vars
      - .env
    environment:
      # Overwrite a few variables that are irrelevant with this compose deployment
      APP_DB__TYPE: mongodb
      APP_DB__MONGO__CON_USER: ${MONGO_USER}
      APP_DB__MONGO__CON_PASSWORD: ${MONGO_PASSWORD}
      APP_DB__MONGO__DBAUTH: admin
      APP_DB__MONGO__CON_HOST: mongodb
      APP_DB__MONGO__CON_PORT: 27017
      APP_PORT: 8080
    depends_on:
      mongodb:
        condition: service_healthy

# Info you want a custom root ca you need to alter three sections:
#   volumes:
#     - ./my-custom-ca.crt:/usr/local/share/ca-certificates/my-custom-ca.crt:ro
#   entrypoint: >
#     sh -c "update-ca-certificates && exec /backend/start.sh"
#   environment:
#     REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt


  mongodb:
    # use atlas instead of regular mongo
    # since it comes preconfigured as a standalone replica set
    # and therefore allows for transactions to be used
    image: mongodb/mongodb-atlas-local
    container_name: mongodb
    ports:
      # Exposes MongoDB on the default port 27017
      - "27017:27017"
    volumes:
      # Mounts a volume for (persistent) MongoDB data
      - ./mongo-data/db:/data/db
      - ./mongo-data/configdb:/data/configdb
      - ./mongo-data/mongot:/data/mongot
    restart: unless-stopped
    environment:
      # Sets a MongoDB root user and password
      MONGODB_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGODB_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
