APIFlask~=2.4.0
marshmallow_dataclass~=8.7.1
Flask~=3.1.0
marshmallow~=3.26.1
gunicorn~=23.0.0
Flask-Compress~=1.17
pymongo~=4.11.3
requests~=2.32.3
APScheduler~=3.11.0
urllib3~=2.3.0
pyrad~=2.4
PyJWT~=2.10.1
loguru~=0.7.3